.feed-container {
  display: flex;
  grid-column: span 7 / span 7;
  height: 200rem;
  justify-content: space-between;
  margin-bottom: auto;
  margin-top: -2.3rem;
  border-style: solid;
  border-color: var(--grey-3);
}

.feed-title {
  padding: 2rem 2rem 0 2rem;
  font-weight: 600;
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  .feed-container {
    grid-column: span 4 / span 4;
  }
}
